@page
@model IndexModel
@{
    ViewData["Title"] = "Gerador de assinaturas";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <form method="post">
        <input type="email" name="emailaddress"> 
        <input type="submit">
    </form>
</div>

